argoproj/argocd@sha256:0a8fa1fee472568c2ec49dc1a71d3af56613b6b62353560a3682abc24492daee={{ local_registry }}/argoproj/argocd
quay.io/redhat-cop/dex:v2.22.0-openshift={{ local_registry }}/redhat-cop/dex:v2.22.0-openshift
#docker.io/grafana/grafana@sha256:afef23a1b4cf159ec3180aac3ad693c10e560657313bfe3ec81f344ace6d2f05={{ local_registry }}/grafana/grafana
docker.io/grafana/grafana@sha256:bdef6f27255a09deb2f89741b3800a9a394a7e9eefa032570760e5688dd00a2f={{ local_registry }}/grafana/grafana
#docker.io/library/redis@sha256:4be7fdb131e76a6c6231e820c60b8b12938cf1ff3d437da4871b9b2440f4e385={{ local_registry }}/library/redis
docker.io/library/redis@sha256:b33e5a3c00e5794324fad2fab650eadba0f65e625cc915e4e57995590502c269={{ local_registry }}/library/redis
quay.io/projectquay/quay:qui-gon={{ local_registry }}/projectquay/quay
quay.io/redhat/quay:v3.3.1={{ local_registry }}/redhat/quay:v3.3.1
registry.redhat.io/rhscl/redis-32-rhel7={{ local_registry }}/rhscl/redis-32-rhel7
registry.redhat.io/rhscl/postgresql-96-rhel7:1={{ local_registry }}/rhscl/postgresql-96-rhel7:1
quay.io/redhatgov/operator-catalog:1.1.2={{ local_registry }}/redhatgov/operator-catalog:1.1.2
quay.io/redhatgov/gitea-operator-bundle:0.0.3={{ local_registry }}/redhatgov/gitea-operator-bundle:0.0.3
quay.io/redhatgov/gitea-operator:0.0.3={{ local_registry }}/redhatgov/gitea-operator:0.0.3
quay.io/redhatgov/gitea:latest={{ local_registry }}/redhatgov/gitea:latest
quay.io/redhatgov/sonarqube-operator-bundle:0.0.3={{ local_registry }}/redhatgov/sonarqube-operator-bundle:0.0.3
quay.io/redhatgov/sonarqube-operator:0.0.3={{ local_registry }}/redhatgov/sonarqube-operator:0.0.3
quay.io/redhatgov/sonarqube:latest={{ local_registry }}/redhatgov/sonarqube:latest
quay.io/redhatgov/crw-plugin-registry-rhel8:2.3={{ local_registry }}/redhatgov/crw-plugin-registry-rhel8:2.3
quay.io/redhatgov/crw-devfile-registry-rhel8:2.3={{ local_registry }}/redhatgov/crw-devfile-registry-rhel8:2.3
registry.redhat.io/rhel8/postgresql-10:latest={{ local_registry }}/rhel8/postgresql-10:latest
quay.io/redhatgov/nexus-operator:0.0.5={{ local_registry }}/redhatgov/nexus-operator:0.0.5
quay.io/redhatgov/nexus-operator-bundle:0.0.5={{ local_registry }}/redhatgov/nexus-operator-bundle:0.0.5
docker.io/openshift/oauth-proxy:latest={{ local_registry }}/openshift/oauth-proxy:latest
registry.connect.redhat.com/sonatype/nexus-repository-manager:latest={{ local_registry }}/sonatype/nexus-repository-manager:latest
registry.redhat.io/rhel7/support-tools={{ local_registry }}/rhel7/support-tools
registry.redhat.io/rhel8/postgresql-10:1={{ local_registry }}/rhel8/postgresql-10:1
registry.redhat.io/rhel8/postgresql-96:1={{ local_registry }}/rhel8/postgresql-96:1
registry.redhat.io/rh-sso-7/sso74-openshift-rhel8:7.4={{ local_registry }}/rh-sso-7/sso74-openshift-rhel8:7.4
registry.redhat.io/rh-sso-7-tech-preview/sso74-init-container-rhel8:7.4={{ local_registry }}/rh-sso-7-tech-preview/sso74-init-container-rhel8:7.4
registry.redhat.io/ubi8-minimal:8.2={{ local_registry }}/ubi8-minimal:8.2
registry.redhat.io/codeready-workspaces/server-rhel8:2.3={{ local_registry }}/codeready-workspaces/server-rhel8:2.3
registry.redhat.io/codeready-workspaces/pluginbroker-artifacts-rhel8:2.3={{ local_registry }}/codeready-workspaces/pluginbroker-artifacts-rhel8:2.3
registry.redhat.io/codeready-workspaces/pluginbroker-metadata-rhel8:2.3={{ local_registry }}/codeready-workspaces/pluginbroker-metadata-rhel8:2.3
registry.redhat.io/codeready-workspaces/jwtproxy-rhel8:2.3=registry.redhat.io/codeready-workspaces/jwtproxy-rhel8:2.3
registry.access.redhat.com/ubi8/ubi-minimal={{ local_registry }}/ubi8/ubi-minimal
registry.access.redhat.com/ubi8/ubi-minimal={{ local_registry }}/ubi8/ubi-minimal

