argoproj/argocd@sha256:0a8fa1fee472568c2ec49dc1a71d3af56613b6b62353560a3682abc24492daee={{ local_registry }}/argoproj/argocd
quay.io/redhat-cop/dex:v2.22.0-openshift={{ local_registry }}/redhat-cop/dex:v2.22.0-openshift
docker.io/grafana/grafana@sha256:afef23a1b4cf159ec3180aac3ad693c10e560657313bfe3ec81f344ace6d2f05={{ local_registry }}/grafana/grafana
docker.io/library/redis@sha256:4be7fdb131e76a6c6231e820c60b8b12938cf1ff3d437da4871b9b2440f4e385={{ local_registry }}/library/redis
quay.io/projectquay/quay:qui-gon={{ local_registry }}/projectquay/quay
registry.redhat.io/rhscl/redis-32-rhel7={{ local_registry }}/rhscl/redis-32-rhel7
registry.redhat.io/rhscl/postgresql-96-rhel7:1={{ local_registry }}/rhscl/postgresql-96-rhel7:1