apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: community-operators
  namespace: openshift-marketplace
spec:
  displayName: Community Operators
  image: {{ local_registry }}/{{ local_community_catalog }}
  imagePullPolicy: Always
  publisher: Red Hat Community
  sourceType: grpc