apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: redhat-operators
  namespace: openshift-marketplace
spec:
  displayName: Red Hat Operators
  image: {{ local_registry }}/{{ local_redhat_catalog }}
  imagePullPolicy: Always
  publisher: Red Hat
  sourceType: grpc